<% provide(:title, "Create your blog") %>

<h2>Create your blog</h2>

<!--Registering form-->
<div id="jns-form">
  <%= form_for(@blog) do |x| %>
    <!--Name-->
    <%= x.label :name %>
    <%= x.text_field :name %>
    <!--Submit-->
    <%= x.submit "Register", class: "btn btn-default" %>

    <% if @blog.errors.any? %>
      <ul>
        <% @blog.errors.full_messages.each do |x| %>
          <li><%= x %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
