<% provide(:title, "Edit profile") %>

<h2>Edit profile information</h2>

<!--Edit profile -form-->
<div id="jns-form">
  <%= form_for(@user) do |x| %>
    <!--Name-->
    <%= x.label :name %>
    <%= x.text_field :name %>
    <!--Email-->
    <%= x.label :email %>
    <%= x.email_field :email %>
    <!--Submit-->
    <%= x.submit "Save new info", class: "btn btn-default" %>
  <% end %>

  <hr>

  <%= form_for(@user) do |y| %>
    <!--Password-->
    <%= y.label :password %>
    <%= y.password_field :password %>
    <!--Confirm password-->
    <%= y.label :password_confirmation %>
    <%= y.password_field :password_confirmation %>
    <!--Submit-->
    <%= y.submit "Change password", class: "btn btn-default" %>
  <% end %>

  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |x| %>
        <li><%= x %></li>
      <% end %>
    </ul>
  <% end %>

  <hr>

  <div id="jns-zone" class="bg-danger">
    <%= link_to "Delete profile", @user, method: :delete,
      data: {confirm: "Are you sure?!"}, class: "btn btn-danger" %>
      <p class="text-danger">All the content associated to your profile is grinded into dust.</p>
  </div>

</div>