<% provide(:title, @post.title) %>

<!--Blog post-->
<div>
  <!--Post title-->
  <h2>
    <%= @post.title %>
    <% if logged_in? && logged_in_user?(@user) %>
      <!--Post edit button-->
      <%= link_to "Edit post", edit_post_path(@post), class: "btn btn-warning btn-xs" %>
    <% end %>
  </h2>

  <!--Created at-->
  <%= content_tag(:em, @post.created_at.to_date.strftime("%d %b %Y") , class: "text-warning") %>

  <!--Link to user-->
  <p>by <%= link_to @user.name, user_path(@user) %></p>

  <% if @post.image? %>
    <!--Image-->
    <%= image_tag @post.image.url %>
  <% end %>

  <!--Post content-->
  <p><%= simple_format(@post.content) %></p>
</div>