<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blög | <%= yield(:title) %></title>

  <!--Links-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!--Protect from CSRF-->
  <%= csrf_meta_tags %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <!--Navbar-->
  <nav id="jns-navbar" class="navbar navbar-default" role="navigation">

    <!--Site header-->
    <div class="navbar-header">
      <!--Logo-->
      <%= link_to root_path do %>
        <%= image_tag "blog_logo_tiny.png", alt: "Site logo", class: "jns-logo" %>
      <% end %>
    </div>

    <!--Navigation-->
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Blogs", blogs_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Post new", new_post_path %></li>
          <li><%= link_to "My Blog", blog_path(myblog) %></li>
          <li><%= link_to "My profile", user_path(logged_in_user) %></li>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Register", register_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <!--Flash message-->
  <% flash.each do |type, msg| %>
    <%= content_tag(:div, msg, class:
      "alert alert-#{type}") %>
  <% end %>

  <!--Main content-->
  <div id="jns-main" class="container">
    <%= yield %>
  </div>

  <!--Footer-->
  <footer id="jns-footer">
    <div class="container">
      <% if logged_in? && logged_in_user.admin? %>
        <p class="text-danger">You have admin priviledges</p>
        <%= link_to "Index of users", users_path %>
      <% end %>
    </div>
  </footer>

</body>
</html>
