<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blög | <%= yield(:title) %></title>

  <!--Links-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!--Protect from CSRF-->
  <%= csrf_meta_tags %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <!--Navbar-->
  <nav id="navbar-custom" class="navbar navbar-default" role="navigation">

    <!--Site header-->
    <div class="navbar-header">
      <%= link_to "Blög", root_path, class:"navbar-brand" %>
    </div>

    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Register", register_path %></li>
        <li><%= link_to "Login", login_path %></li>
      </ul>
    </div>
  </nav>

  <!--Flash message-->
  <% flash.each do |type, msg| %>
    <%= content_tag(:div, msg, class:
      "alert alert-#{type}") %>
  <% end %>

  <!--Main content-->
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
